/*

    The following CSS codes are created by the YellowPencil plugin.
    https://yellowpencil.waspthemes.com/


    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. Global Styles
    02. Non-Static Homepage
    03. "HI" Post
    04. "Elementor #490" Page
    05. "Home" Page

*/



/*-----------------------------------------------*/
/*  Global Styles                                */
/*-----------------------------------------------*/
body #about .wp-block-group p{
	display:none;
}

body #about .wp-block-group h2{
	display:none;
}

body .ast-article-single .wp-block-cover{
	min-height:631px !important;
	height:631px;
	-webkit-transform:translatex(0px) translatey(-5px);	-ms-transform:translatex(0px) translatey(-5px);	transform:translatex(0px) translatey(-5px);
	background-size:contain !important;
	background-color:rgba(0,229,229,0.84) !important;
	background-position-x:10%;
	display:inline-block;
}

body #about .wp-block-media-text .wp-image-358{
	-webkit-transform:translatex(3px) translatey(-32px) !important;	-ms-transform:translatex(3px) translatey(-32px) !important;	transform:translatex(3px) translatey(-32px) !important;
	-webkit-animation-fill-mode:both;	animation-fill-mode:both;
}

body #about .wp-block-media-text .wp-image-359{
	display:inline-block;
	-webkit-transform:translatex(7px) translatey(-5px) !important;	-ms-transform:translatex(7px) translatey(-5px) !important;	transform:translatex(7px) translatey(-5px) !important;
	-webkit-animation-fill-mode:both;	animation-fill-mode:both;
}

body .wp-block-columns .wp-block-column .wp-block-image.yp_onscreen{
	-webkit-animation-name:pop;	animation-name:pop;
	-webkit-animation-duration:1s;	animation-duration:1s;
	-webkit-animation-delay:0s;	animation-delay:0s;
}

body .wp-block-columns .wp-block-column .wp-block-image{
	-webkit-animation-fill-mode:both;	animation-fill-mode:both;
}

body .wp-block-columns .size-large .wp-image-532.yp_onscreen{
	-webkit-transform-origin:center bottom;	-ms-transform-origin:center bottom;	transform-origin:center bottom;
	-webkit-animation-name:bounce;	animation-name:bounce;
	-webkit-animation-delay:0s;	animation-delay:0s;
	-webkit-animation-duration:1s;	animation-duration:1s;
}

body #about .wp-block-group a.yp_onscreen{
	-webkit-animation-name:flash;	animation-name:flash;
	-webkit-animation-delay:0s;	animation-delay:0s;
	-webkit-animation-duration:1s;	animation-duration:1s;
}

body #site-navigation .menu-item .menu-text{
	margin-right:10px;
}

body .ast-grid-center-col-layout .site-title a{
	color:#ffffff;
	text-transform:uppercase;
	display:inline-block;
	-webkit-transform:translatex(-20px) translatey(-41px);	-ms-transform:translatex(-20px) translatey(-41px);	transform:translatex(-20px) translatey(-41px);
}

body #masthead #ast-desktop-header .ast-main-header-wrap .ast-primary-header .site-primary-header-wrap .ast-grid-center-col-layout .site-header-primary-section-left .ast-flex .ast-site-identity .ast-site-title-wrap .site-title a{
	width:142% !important;
}

body .ast-article-single .wp-block-cover h1{
	-webkit-transform:translatex(-48px) translatey(40px);	-ms-transform:translatex(-48px) translatey(40px);	transform:translatex(-48px) translatey(40px);
}

body .ast-article-single .wp-block-cover .wp-block-group a{
	-webkit-transform:translatex(39px) translatey(130px);	-ms-transform:translatex(39px) translatey(130px);	transform:translatex(39px) translatey(130px);
}

body #reviews .wp-block-column .wp-block-group{
	display:none;
}

body #contact{
	display:none;
}

body .site-footer-primary-section-1 .footer-widget-area .widget{
	display:none;
}

body #colophon .ast-builder-grid-row-3-equal{
	display:none;
}

body #services .wp-block-group p{
	display:none;
}

body #services .wp-block-column .wp-block-group{
	display:none;
}

body #services .wp-block-columns{
	display:none;
}

body #services > .wp-block-group__inner-container > p{
	display:none;
}

body #services h2{
	display:none;
}

body #services{
	display:none;
}

body #reviews{
	display:none;
}

body #about .wp-block-group h5{
	display:none;
}

body #about .wp-block-group .wp-block-spacer{
	display:none;
}

body #about .wp-block-media-text .wp-block-group{
	display:none;
}

@media (min-width:545px){

	body .ast-article-single .wp-block-cover{
	padding-bottom:0px;
	}

}



/*-----------------------------------------------*/
/*  Non-Static Homepage                          */
/*-----------------------------------------------*/
body.home .site-footer-primary-section-1 .widget p{
	display:none;
}

body.home .ast-grid-center-col-layout .site-title a{
	display:none;
}

body.home .ast-grid-center-col-layout .ast-flex img{
	display:none;
}

body.home .site-footer-primary-section-2 .widget p{
	display:none;
}

body.home .ast-builder-grid-row-3-equal .ast-builder-footer-grid-columns{
	display:none;
}



/*-----------------------------------------------*/
/*  "HI" Post                                    */
/*-----------------------------------------------*/
body.postid-1 #commentform{
	display:none;
}

body.postid-1 .widget-area .widget h2{
	display:none;
}

body.postid-1 #page{
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
}



/*-----------------------------------------------*/
/*  "Elementor #490" Page                        */
/*-----------------------------------------------*/
body.page-id-490 .site-footer-primary-section-2 .widget p{
	display:none;
}

body.page-id-490 .ast-builder-html-element p iframe{
	display:none;
}

body.page-id-490 .ast-builder-grid-row-3-equal .ast-builder-footer-grid-columns{
	display:none;
}

body.page-id-490 .elementor-element-11de5d6 .elementor-widget-heading h2.yp_onscreen{
	-webkit-animation-name:shake;	animation-name:shake;
	-webkit-animation-delay:0s;	animation-delay:0s;
	-webkit-animation-duration:1s;	animation-duration:1s;
}



/*-----------------------------------------------*/
/*  "Home" Page                                  */
/*-----------------------------------------------*/
body.page-id-545 .ast-grid-center-col-layout .site-title a{
	padding-top:16px;
	-webkit-transform:translatex(0px) translatey(-25px);	-ms-transform:translatex(0px) translatey(-25px);	transform:translatex(0px) translatey(-25px);
}

body.page-id-545 .ast-article-single .wp-block-cover h1{
	-webkit-transform:translatex(-10px) translatey(42px);	-ms-transform:translatex(-10px) translatey(42px);	transform:translatex(-10px) translatey(42px);
}