/*

    The following CSS codes are created by the YellowPencil plugin.
    https://yellowpencil.waspthemes.com/


    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. Global Styles

*/



/*-----------------------------------------------*/
/*  Global Styles                                */
/*-----------------------------------------------*/
body .entry-header .entry-title a.yp_onscreen{
	-webkit-animation-name:flash;	animation-name:flash;
	-webkit-animation-delay:0s;	animation-delay:0s;
	-webkit-animation-duration:1s;	animation-duration:1s;
}

body .hentry p.yp_onscreen{
	-webkit-transform-origin:center bottom;	-ms-transform-origin:center bottom;	transform-origin:center bottom;
	-webkit-animation-name:bounce;	animation-name:bounce;
	-webkit-animation-delay:0s;	animation-delay:0s;
	-webkit-animation-duration:1s;	animation-duration:1s;
}